# data
data/*
!data/.gitkeep
predict/data_predicted.csv

# folders
document
output
catboost_info
mlruns
__pycache__

# scripts
scripts/get_data_without_scrapy_command.py

# notebooks
!notebooks/bus/*.ipynb
!notebooks/car/*.ipynb
!notebooks/cable/*.ipynb

# models
models/*
!models/.gitkeep

# logs
script_logs/*
!script_logs/.gitkeep
logs
*.log

# vscode
.vscode

# envs
.env
Pipfile.lock

# others
.idea
.ipynb_checkpoints
requirements.txt
trip_spider.py
plugins
methodology.txt